.footer-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8; /* 배경색 설정 */
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    flex: 1;
    text-align: center;
}

.navbar-list li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.navbar-list li a:hover {
    background-color: #e0e0e0; /* 호버 시 배경색 변경 */
}
