.wrapper {
  width: 100%;
  max-width: 400px; /* width는 0~400px 범위 */
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 중앙 수평 조정 */
}

/* 이전 화면 이동 아이콘 (<), dropdown 아이콘 */
.icon-prev,
.icon-dropdown,
.icon-clear {
  font-size: 22px;
  cursor: pointer;
}

.icon-prev:hover,
.icon-dropdown:hover {
  color: #4d67fa;
}

/* 검색창 */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 240px;
}

.search-box input {
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-box input:focus {
  border-color: rgb(1, 23, 89);
  box-shadow: 0 0 5px rgba(1, 23, 89, 0.5);
}

/* 검색어 지우는 아이콘 (X) */
.icon-clear {
  position: absolute;
  right: 8px;
  color: #aaa;
}

.icon-clear:hover {
  color: #fa8c8c;
}
