* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  font-weight: 500;
}

hr {
  margin: auto 15px;
  border: 0;
  height: 0.5px;
  background: rgb(241, 241, 241);
}

.look-button-container {
  display: flex;
  margin: 20px 15px;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.look-button-container button {
  flex: 0 0 auto;
  margin: auto 5px;
  padding: 5px 10px;
  width: 60px;
  height: 30px;
  font-size: 10px;
  font-weight: 300;
  color: gray;
  background-color: white;
  border: 1px solid rgba(228, 228, 228, 0.719);
  border-radius: 15px;
}

.look-button-container button:hover {
  cursor: pointer;
  color: rgb(1, 23, 89);
  border: 1px solid rgb(1, 23, 89);
}

.fashion-items-container {
  display: flex;
  flex-direction: column;
  max-height: 545px;
  overflow-y: auto;
}

.fashion-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto 15px;
}

.fashion-img-container img {
  flex: 1;
  max-width: 33.33%;
  border: 2px solid white;
}

.upload-button {
  position: fixed;
  right: 25px;
  bottom: 50px;
}
.upload-button button {
  background-color: rgb(1, 23, 89);
  color: white;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 20px;
  width: 33px;
  height: 33px;
}

.upload-button button img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(276deg)
    brightness(111%) contrast(102%);
  margin-top: 2px;
}
