.rate-items {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 10px 0;
}
.rate-item-name {
  font-size: 14px;
}
