.amount-keypad {
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  margin: 0 auto;
  background-color: #eee;
}
.amount-ketpad-number {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.keypad {
  font-size: 24px;
  aspect-ratio: 1.2/1;
  border: 0;
  outline: none;
  background-color: #eee;
}
.keypad-btn {
  width: 33.33%;
}
.keypad-control {
  width: 25%;
}
.keypad-control-btn {
  width: 100%;
}
