.boarding-pass-details {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
    background: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 중앙 정렬 */
}

.details-header {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}

.share-button, .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #007BFF;
    padding: 10px;
    border-radius: 5px;
}

.share-button:hover, .delete-button:hover {
    background: #f0f0f0;
}

.ticket-info {
    margin-top: 20px;
}

.info-section {
    display: flex;
    flex-direction: column; /* h3와 p를 열로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin-bottom: 15px;
}

.info-section h3 {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.info-section p {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #333;
}

.airline-logo {
    width: auto;
    height: 40px; /* 기존 크기에서 두 배로 설정 */
}

.details-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.journey-info-wrapper {
    display: flex;
    align-items: center;
    background-color: #00274d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.icon-map {
    margin-right: 10px;
}

.route-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon-departure {
    margin: 0 10px;
}

.route-info p {
    font-size: 1rem; /* 기본 크기 */
    font-weight: normal; /* 기본 체 */
}

.flight-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0; /* 상하 마진 10씩 추가 */
}

.large-text {
    font-size: 3rem; /* 3배 크기 */
    font-weight: bold; /* 볼드체 */
    margin: 10px 0; /* 상하 마진 10씩 추가 */
}

.gray-text {
    font-size: 1rem; /* 기본 크기 */
    color: gray;
}
.additional-info {
    display: flex;
    justify-content: space-around; /* 행으로 정렬 */
    margin-top: 20px;
}

.additional-info .info-section {
    display: flex;
    flex-direction: column; /* h3와 p를 열로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin-bottom: 10px;
}

.additional-info .info-section h3 {
    font-size: 14px;
    color: #888;
}

.additional-info .info-section p {
    font-size: 16px;
    color: #333;
}
