.boarding-pass {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f8f9fa; /* 전체 배경색 */
    color: #011759; /* 텍스트 색상 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden; /* 내용이 넘칠 때 보이지 않도록 설정 */
}

.color-strip {
    width: 10px;
    background: linear-gradient(to bottom, rgb(1, 23, 89), #283e51);
}

.boarding-pass-content {
    flex: 1;
    padding: 10px;
}

.status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left {
    text-align: left;
    font-weight: bold;
}

.right {
    text-align: right;
    font-weight: bold;
}

.flight-info,
.airline-info,
.route-info,
.additional-info {
}

.status p,
.flight-info p,
.airline-info p,
.route-info p,
.additional-info p {
    margin: 5px 0;
    font-weight: bold; /* 모든 텍스트를 볼드 처리 */
}

.flight-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 23, 89);
    padding-top: 10px;
}

.airline-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 23, 89);
    padding-top: 10px;
}

.route-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 23, 89);
    padding-top: 10px;
}

.route-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.route-info .icon {
    font-size: 24px;
    margin: 0 10px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 23, 89);
    padding-top: 10px;
}

.additional-info > div {
    flex: 1;
    text-align: center;
}

.additional-info > div:not(:last-child) {
    border-right: 1px solid rgb(1, 23, 89);
    padding-right: 10px;
}

.additional-info p {
    margin: 5px 0;
}

.boarding-pass p {
    color: rgb(1, 23, 89); /* 포인트 컬러를 텍스트 색상으로 사용 */
}

.boarding-pass-content div {
    padding-bottom: 5px;
}

.details-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.largeText {
    font-size: 1.5em;
}
