/* .conjestion {
  position: relative;
} */
.container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.conjestionHeader {
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 10px;
  /* padding: 0 10px; */
}
/* .list-container {
  display: flex;
  flex-direction: column;
}
.list-item {
  display: flex;
} */
/* 해야함 */
table {
  vertical-align: center;
}
.dataTable {
  width: 100%;
  font-size: 12px;
  text-align: center;
  z-index: -10;
  /* align-items: center; */
}
.dataHead {
  background-color: #ddd;
  height: 25px;
  font-weight: 700;
}
tbody {
  color: #027ffe;
}
.listItem {
  height: 25px;
}
.currentTime {
  background-color: #dfdfdf;
  font-weight: 700;
}
.listItem:last-child {
  color: red;
}
.listItem:last-child .dataTimeSet {
  display: none;
}
th,
td {
  vertical-align: center;
}
.dataTime {
  color: #000;
  font-weight: 700;
}

/* option-controller */
.optionController {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.optionList {
  width: 100%;
  display: flex;
  color: #555;
}
.optionBtn {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 0;
}
.btnActive {
  color: #027ffe;
}
.selectBtn {
  background-color: #027ffe;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
}
