.faciContainer {
  padding-top: 80px;
}
.facilityListBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #aaa;
}
/* .facility-header {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 10px;
  border-bottom: #ddd;
} */
.facilityHeader {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
.facHeaderLeft {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.facility {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.facilityName {
  font-size: 16px;
  font-weight: 700;
}
.facilityLocation {
  color: #359aff;
}
.facilityDes {
  font-weight: 500;
}

.facilityInfo {
  color: #aaa;
}
.time {
  display: flex;
  gap: 5px;
}
.openNow {
  color: #359aff;
}
.closeNow {
  color: red;
}

.facilityNumber {
  text-decoration: underline;
  display: flex;
  gap: 5px;
}
/* search */
.searchInput[type="text"] {
  outline: none;
  border: none;
  border-width: 0;
  font-size: 20px;
}
.searchInput:focus {
  outline: none;
}

/** data-loading */
.loadingData {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* search not found */
.notFound {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box {
  padding: 0 30px 80px 30px;
  line-height: 22px;
}
.searchText {
  text-decoration: underline;
  color: #359aff;
}
