@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 기본 셋팅 값 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

hr {
  margin: auto 0px;
  border: 0;
  height: 0.5px;
  background: rgb(241, 241, 241);
}

/* 상단 */
.look-details-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.top-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.back-button {
  position: absolute;
  color: gray;
  top: 20px;
  left: 30px;
}

/* 게시글 - 사용자 프로필 */
.user-post-info-top {
  margin-top: 77px;
}

.user-post-info {
  display: flex;
  font-size: 13px;
  margin: 15px 20px;
}

.user-post-info p:first-child {
  margin-top: 4px;
}

.user-post-info p:last-child {
  margin-top: 7px;
  font-size: 10px;
  color: rgb(168, 168, 168);
}

.user-post-info button:first-child svg {
  color: white;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  padding: 2px;
  margin-right: 13px;
  margin-top: 2px;
}
.user-post-info button:last-child {
  color: rgb(168, 168, 168);
  transform: rotate(90deg);
  margin-left: auto;
  margin-top: -3px;
}

/* 게시글 이미지 */
.fashion-image {
  background-color: rgba(1, 23, 89, 0.048);
}
.fashion-image img {
  display: block;
  max-width: 100%;
  max-height: 58vh;
  margin: 0px auto;
}

/* 좋아요, 댓글 */
.like-comment-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  margin-left: 15px;
}

.like-button svg {
  color: #e88080;
}

.comment-button svg {
  color: rgb(168, 168, 168);
}

/* 좋아요 수, 게시글 내용, 댓글 */
.post-bottom-container {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.post-bottom-container p:first-child {
  font-weight: 500;
}

.post-bottom-container p:nth-child(2) {
  margin-top: 12px;
  color: #567ffa;
}

.post-bottom-container p:last-child {
  margin-top: 12px;
  color: rgb(168, 168, 168);
  font-size: 12px;
  text-decoration: underline;
}

.post-comment-container {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}
.post-comment-container p:first-child {
  font-size: 12px;
  font-weight: 600;
}

.post-comment-container p:nth-child(2) {
  font-size: 12px;
  color: black;
  margin-top: 0px;
  text-decoration: none;
}

/* 댓글 */
.comment-input {
  position: fixed;
  top: 89%;
  width: 100%;
  background-color: white;
  height: 100%;
  left: 0px;
}

.comment-input input {
  width: 87%;
  font-size: 11px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 12px;
  margin-left: 25px;
}

.comment-input input::placeholder {
  color: #cccccc;
}

.registration-button svg {
  position: fixed;
  background-color: rgb(1, 23, 89);
  border-radius: 20px;
  color: white;
  padding: 2px;
  margin-top: -15px;
  margin-left: -40px;
}
