/* styles/CreateAccount.module.css */
.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Viewport height: 화면 높이 100% */
    width: 100vw; /* Viewport width: 화면 너비 100% */
    padding: 20px; /* 여백 추가 */
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* 최대 너비 설정 */
    margin: 20px auto 0 auto; /* 위쪽에 20px의 여백 추가 */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin: 10px 0;
}

.message {
    color: green;
    margin: 10px 0;
}
