.wrapper {
  width: 100%;
  max-width: 400px; /* width는 0~400px 범위 */
  margin: auto;
  padding: 60px 0; /* navbar 높이만큼 여백 추가 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}

.icon {
  margin-right: 10px;
}
