/* 가장 바깥 wrapper */
.wrapper {
  background-color: #f2f3f5;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(1, 23, 89);
}

.header h3 {
  font-size: 24px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
}

/* 각 라우팅 페이지로 이동하는 link */
.content a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

/* 페이지 이동 버튼 마우스 올렸을 때 색상 */
.content a:hover {
  color: rgba(0, 0, 0, 0.6);
}
