.link-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: rgb(1, 23, 89);
  text-decoration: none;
  cursor: pointer;
}

.link-item:hover {
  color: rgba(1, 23, 89, 0.6);
}
