.wrapper {
  width: 100%;
  max-width: 400px; /* width는 0~400px 범위 */
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; /* navbar 높이만큼 여백 추가 */
}

.icon {
  margin-right: 10px;
}
