.faci-container {
  padding-top: 70px;
}
.facility-list-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #aaa;
}
/* .facility-header {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 10px;
  border-bottom: #ddd;
} */
.facility-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
.fac-header-left {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.facility {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.facility-name {
  font-size: 16px;
  font-weight: 700;
}
.facility-location {
  color: #359aff;
}

.facility-info {
  color: #aaa;
}
.time {
  display: flex;
  gap: 5px;
}
.facility-number {
  text-decoration: underline;
  display: flex;
  gap: 5px;
}
/* search */
input[type="text"] {
  outline: none;
  border: none;
  border-width: 0;
  font-size: 20px;
}
.search-input:focus {
  outline: none;
}

/** data-loading */
.loading-data {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
