.container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
a {
  color: inherit;
}
.parking {
  border-top: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.update-time {
  text-align: end;
  color: #888;
  font-size: 12px;
  padding: 0 20px 5px 0;
}
.parking-header {
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 10px;
}
.fee-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  color: #888;
  align-items: end;
}
.parking-list-item {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  color: #007aff;
}
.parking-list-item.pos {
  color: #007aff;
}

.parking-list-item.impos {
  color: red;
}
