.map-container {
  background-color: #333649;
  color: #fafafa;
  padding: 0 20px 20px 20px;
  overflow: hidden;
}
.map-header {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}
.map-info {
  text-align: end;
  color: #555;
  font-size: 12px;
  padding: 0 10px 5px 0;
}

.map-btn {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.map-name {
  margin-top: 10px;
}

img {
  width: 100%;
}
