.navbar {
  width: inherit; /* navbar의 width는 메인페이지 wrapper와 동일하게 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  list-style-type: none;
  margin: 0;
  position: fixed;
  bottom: 0;
}
