/* 가장 바깥 wrapper */
.container-wrapper {
  background-color: rgb(1, 23, 89, 0.2);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-children {
  display: flex;
  flex-direction: column;
}

/* 각 라우팅 페이지로 이동하는 link */
.container-children a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

/* 페이지 이동 버튼 마우스 올렸을 때 색상 */
.container-children a:hover {
  color: rgba(0, 0, 0, 0.6);
}
