.card {
  padding: 16px 0;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: var(--color-light);
}

.section-sm,
.section-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.section-sm {
  flex: 1;
}
.section-lg {
  flex: 2;
}

.section-lg img {
  width: 64px;
  height: auto;
}

/* 취소선 */
.section-strikethrough {
  text-decoration: line-through;
  text-decoration-color: red;
  color: rgba(0, 0, 0, 0.5);
}

/* 텍스트 색 blue */
.section-blue {
  color: var(--color-base);
  font-weight: bold;
}

.section-delayed {
  color: var(--color-delayed);
  font-weight: bold;
}

.section-cancelled {
  color: var(--color-cancelled);
  font-weight: bold;
}
