.dropdown {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 20px 60px 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  position: relative;
}

.button-close {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  background-color: var(--color-dark);
  color: white;
  font-size: var(--font-sm);
}

.dropdown label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-xs);
}

.dropdown input[type="checkbox"] {
  display: none;
}

.dropdown input[type="checkbox"] + span {
  margin-left: 8px;
}

.dropdown input[type="checkbox"]:checked + span {
  color: var(--color-base);
}

.dropdown input[type="checkbox"]:checked + span::before {
  background-color: var(--color-base);
  border-color: var(--color-base);
}
