.wrapper {
  width: 100%;
  max-width: var(--media-tab);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.header-container--left {
  display: flex;
  align-items: center;
  font-size: var(--font-md);
  gap: 24px;
}

.icon-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.icon-prev {
  font-size: 48px; /* 잠재적 위험 존재 */
  cursor: pointer;
}

.icon-prev:hover,
.icon-switch:hover {
  color: var(--color-base);
}

.icon-switch {
  font-size: var(--font-md);
  font-weight: 700;
  cursor: pointer;
}
