.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.last-update {
  text-align: end;
  color: #555;
  font-size: 12px;
  padding: 10px 10px;
}
.ex-rate-list {
  display: flex;
  flex-direction: row;
}
.selected-list {
  display: flex;
  flex-direction: column;
}
