.card {
  padding: 16px 0;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.section-sm,
.section-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4px;
}

.section-sm {
  font-size: 16px;
}

.section-sm {
  width: 12.5%;
}
.section-lg {
  width: 25%;
}
