@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 기본 셋팅 값 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  font-weight: 500;
}

hr {
  margin: auto 0px;
  border: 0;
  height: 0.5px;
  background: rgb(241, 241, 241);
}

/* 상단 고정 */
.airport-fashion-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.airport-fashion-main-container {
  padding-bottom: 60px;
}

/* 공항 패션룩 필터 */
.look-button-container {
  display: flex;
  margin: 20px 5px;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.look-button-container button {
  flex: 1 1 auto;
  margin: auto 5px;
  padding: 5px 10px;
  min-width: 65px;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(168, 168, 168);
  background-color: white;
  border: 1px solid rgba(228, 228, 228, 0.719);
  border-radius: 15px;
}

.look-button-container button:hover {
  cursor: pointer;
  font-weight: 500;
  color: rgb(1, 23, 89);
  border: 1px solid rgb(1, 23, 89);
}

/* 공항 패션룩 정렬 */
.look-sort-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
  color: rgb(168, 168, 168);
  margin-top: -10px;
  margin-bottom: 10px;
}

.look-sort-container p {
  font-size: 10px;
  color: #cccccc;
  margin: 5px;
}

.look-sort-container button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: rgb(168, 168, 168);
}

.look-sort-container button:hover {
  color: #6a6a6a;
}

/* 공항 패션룩 이미지 */
.fashion-items-top {
  margin-top: 150px;
}
.fashion-items-container {
  display: flex;
  flex-direction: column;
  max-height: auto;
  overflow-y: auto;
}

.fashion-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto 0px;
}

.fashion-img-container img {
  flex: 1;
  width: 33.33%;
  height: 170px;
  border: 1px solid white;
}

/* 공항 패션룩 업로드 버튼 */
.upload-button {
  position: fixed;
  right: 25px;
  bottom: 75px;
}

.upload-button button {
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgb(1, 23, 89);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 20px;
}

.upload-button button svg {
  margin-top: 2px;
}
